.tooltip-wrapper {
    display: inline-block;
    position: relative;
  }
  
  .tooltip-box {
    background: black;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 999;
    pointer-events: none;
    transition: opacity 0.2s ease;
  }
  
  .tooltip-top::after,
  .tooltip-bottom::after,
  .tooltip-left::after,
  .tooltip-right::after {
    content: "";
    position: absolute;
    border-style: solid;
  }
  
  .tooltip-top::after {
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px 5px 0 5px;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip-bottom::after {
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent black transparent;
  }
  
  .tooltip-left::after {
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent black;
  }
  
  .tooltip-right::after {
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    border-width: 5px 5px 5px 0;
    border-color: transparent black transparent transparent;
  }
  